<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

  <title>S3314 Bills Tracking</title>
</head>

<body>



<div class="container">

  <h3>猛男妙妙屋 账目记录（测试版）</h3>
  <hr>


<!--  Add button for insert-->
  <br>
  <h4>本期账单</h4>

  <a th:href="@{/bills/showFormForAdd}" class="btn btn-primary btn-sm mb-3">
    新建 +
  </a>


  <table class="table table-bordered table-striped">
    <thead class="table-dark">
    <tr>
      <th>ID</th>
      <th>名称</th>
      <th>金额(USD)</th>
      <th>付款人</th>
      <th>分摊方式</th>
      <th>是否结清</th>
      <th>付款日期</th>
      <th>操作</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="tempBill : ${bills}">

      <td th:text="${tempBill.billId}" />
      <td th:text="${tempBill.billName}" />
      <td th:text="${tempBill.amount}" />
      <td th:text="${tempBill.payer}" />
      <td th:text="${tempBill.splitBetween}" />
      <td th:text="${tempBill.complete}" />
      <td th:text="${tempBill.billDate}" />
      <td>
        <a th:href="@{/bills/showFormForUpdate(billId=${tempBill.billId})}"
           class="btn btn-info btn-sm">编辑</a>
        <a th:href="@{/bills/delete(billId=${tempBill.billId})}"
           class="btn btn-danger btn-sm"
           onclick="if (!(confirm('你确定要删掉这一个条目吗?'))) return false"
        >删除</a>
      </td>

    </tr>
    </tbody>
  </table>

  <br>
  <h4>结算结果</h4>

  <table class="table table-bordered table-striped">
    <thead class="table-dark">
    <tr>
      <th th:text="${crq_ssc}"></th>
      <th th:text="${jmh_ssc}"></th>
      <th th:text="${jmh_crq}"></th>
    </tr>
    </thead>
    <tbody>
    <tr>

      <td th:text="${crqToSsc}"></td>

      <td th:text="${jmhToSsc}"></td>

      <td th:text="${jmhToCrq}"></td>
    </tr>
    </tbody>
  </table>


  <br>
  <h4>历史账单</h4>

  <table class="table table-bordered table-striped">
    <thead class="table-dark">
    <tr>
      <th>ID</th>
      <th>名称</th>
      <th>金额(USD)</th>
      <th>付款人</th>
      <th>分摊方式</th>
      <th>是否结清</th>
      <th>付款日期</th>
      <th>操作</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="tempHistoryBill : ${historyBills}">

      <td th:text="${tempHistoryBill.billId}" />
      <td th:text="${tempHistoryBill.billName}" />
      <td th:text="${tempHistoryBill.amount}" />
      <td th:text="${tempHistoryBill.payer}" />
      <td th:text="${tempHistoryBill.splitBetween}" />
      <td th:text="${tempHistoryBill.complete}" />
      <td th:text="${tempHistoryBill.billDate}" />
      <td>
        <a th:href="@{/bills/showFormForUpdate(billId=${tempHistoryBill.billId})}"
           class="btn btn-info btn-sm">编辑</a>
        <a th:href="@{/bills/delete(billId=${tempHistoryBill.billId})}"
           class="btn btn-danger btn-sm"
           onclick="if (!(confirm('你确定要删掉这一个条目吗?'))) return false"
        >删除</a>
      </td>

    </tr>
    </tbody>
  </table>




</div>




</body>
</html>



