<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

  <title>S3314 Bills Tracking</title>
</head>

<body>

<div class="container">

  <h3>猛男妙妙屋 账目记录(测试版)</h3>
  <hr>

<!--  Add button for insert-->
  <a th:href="@{/bills/showFormForAdd}" class="btn btn-primary btn-sm mb-3">
    新建 +
  </a>


  <table class="table table-bordered table-striped">
    <thead class="table-dark">
    <tr>
      <th>ID</th>
      <th>名称</th>
      <th>金额(USD)</th>
      <th>付款人</th>
      <th>分摊方式</th>
      <th>是否结清</th>
      <th>付款日期</th>
      <th>操作</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="tempEmployee : ${bills}">

      <td th:text="${tempEmployee.billId}" />
      <td th:text="${tempEmployee.billName}" />
      <td th:text="${tempEmployee.amount}" />
      <td th:text="${tempEmployee.payer}" />
      <td th:text="${tempEmployee.splitBetween}" />
      <td th:text="${tempEmployee.complete}" />
      <td th:text="${tempEmployee.billDate}" />
      <td>
<!--        <a th:href="">编辑</a>-->
<!--        <a th:href="">删除</a>-->
      </td>

    </tr>
    </tbody>
  </table>

</div>

</body>
</html>



